<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.TechDict"
    android:versionCode="1"
    android:versionName="BUBT" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material" >
        <activity
            android:name="com.TechDict.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.TechDict.DictionaryListActivity"
            android:label="@string/title_activity_dictionary_list" >
        </activity>
        <activity
            android:name="com.TechDict.WordDefinitionDetailActivity"
            android:label="@string/title_activity_word_definition_detail" >
        </activity>
    </application>

</manifest>
